* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
}

body {
  margin: 0;
  padding: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  background-color: #eceff1;
  color: #424242;
}

header .profile-container {
  width: 140px;
  height: 140px;
  margin: 15px auto;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
}

header .profile-container img {
  height: 120px;
  border-radius: 50%;
}

header h1 {
  font-size: 28px;
}

header p {
  margin: 0 auto 30px;
  padding: 0 15px;
}

section ul {
  padding: 0;
  list-style: none;
}

section ul li {
  margin: 0 auto;
}

section ul li:not(:first-child) {
  padding-top: 5px;
}

section ul li a {
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: #7879b9;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #7879b9;
  transition: 0.25s;
}

section ul li a:hover {
  background-color: transparent;
  color: #7879b9;
}

footer a {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  background: url("./progate.png") center no-repeat;
  background-size: cover;
}

/* RESPONSIVE CSS */
@media (min-width: 700px) {
  header p,
  section ul li {
    width: 600px;
  }
}
