* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none !important;
}

body {
  margin: 0;
  padding: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  background-color: #34383a;
  color: #fefefe;
}

header img {
  margin-top: 50px;
  height: 120px;
  border-radius: 50%;
  border: 5px dotted #a671db;
}

header h1 {
  font-size: 28px;
}

header p {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 10px;
}

section ul {
  padding: 0;
  list-style: none;
}

section ul li {
  margin: 0 auto;
}

section ul li:not(:first-child) {
  padding-top: 5px;
}

section ul li a {
  display: inline-block;
  width: 100%;
  padding: 15px;
  background-color: #a671d8;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #a671d8;
  transition: 0.25s;
}

section ul li a:hover {
  background-color: transparent;
  color: #a671db;
}

footer a {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin: 20px auto;
  background: url("./logo.png") center no-repeat;
  background-size: cover;
}

/* aside css */
aside {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: #34383a;
}

aside .warning-container h2 {
  margin: 0 auto 15px;
}

aside .warning-container p {
  margin: 0 auto 30px;
}

aside .warning-container a {
  padding: 10px 15px;
  background: transparent;
  color: #a671db;
  transition: 0.25s;
}

aside .warning-container a:last-child {
  margin-left: 5px;
  background: #a671db;
  color: #fff;
  border: 2px solid #a671db;
  border-radius: 5px;
}

aside .warning-container a:last-child:hover {
  background: transparent;
  color: #a671db;
}

/* RESPONSIVE CSS */
@media (min-width: 700px) {
  header p,
  section ul li {
    width: 600px;
  }
}
